
@keyframes animatedBackground {
	from { background-position: 0 0; }
	to { background-position: 100% 0; }
}

body	{ 
	/*width: 560px; 
	height: 1000px;*/
	background-image: url("../images/background_image_3.jpg");
	background-position: 0px 0px;
	background-repeat: repeat-x;

	animation: animatedBackground 200s linear infinite;

	font-family: Oldtown,fantasy;
	color: black;
	/*margin: 0 auto;*/

	/*background-image: url("../images/background_image_1.jpg");*/

	color : #00cc66 ;
}



#main_div

{	
	background-color: transparent;
	height: 500px;
	width: 900px;
	/*border: solid 3px black;*/
	text-align: center;
	padding: 5px;
	margin-left: 140px;
	
}

#Trivia_div

{
	height: 400px;
	width: 800px;
	border: solid 3px purple;
	text-align: center;
	padding: 5px;
	margin-left: 50px;
	margin-right: 50px;
	color: white;
}

#answers_div 
{

	background-color: black;
}

#question,#answer_opt_1,#answer_opt_2,#answer_opt_3,
#answer_opt_4, #time_remaining
{

	height: 40px;
	font-size: 20px;
	color: teal
	

}

#question 

{
	color: white;
	font-size: 25px;
}

#time_remaining

{
	color: yellow;

}


#answer_opt_1:hover , #answer_opt_2:hover , 
#answer_opt_3:hover , #answer_opt_4:hover
{

	background-color: orange;
	
}




#title,#Instructions
{

	height: 50px;
	font-size: 30px;
	

}